#!/bin/bash 
#
# NETWORK_NAME is optional
#

CLUSTER_NAME=
PULSAR_HOSTNAME=
NETWORK_NAME=
IMAGE= 
NETWORK_NAME=
BROKER__ZOOKEEPER_SERVERS=
BROKER__CONFIGURATION_STORE_SERVERS=
BROKER__BOOKKEEPER_METADATA_SERVICE_URI=
CLIENT__WEB_SERVICE_URL=
CLIENT__BROKER_SERVICE_URL=

#::END:: 
